.container{
  margin-top: 4%;

}
.card{
  margin-top: 5%;
  background-color: transparent;

}
.col-md-5{
  margin-left: 10%;
}
h2{
  font-size: 32px;
  padding-bottom: 20px;
  text-align: center;
  padding-top: 10px;
}
ul{
  font-size: 24px;
  padding-bottom: 10px;
  text-align: center;
}
h1 a{
 color: #ED6A5A;
}
