<nav class="navbar navbar-dark bg-info">
  <div class="container">
    <h1><a href="#" class="text-center">GITHUB SEARCH</a></h1>
  </div>
</nav>
<div class="container">
  <app-search-form></app-search-form>
  <div class="card">
    <div class="card-body row">
      <div class="col-md-3">
        <img class="img-thumbnail" src="{{user.avatar_url}}">
      </div>
      <div class="col-md-5">
        <h2><strong>{{user.name}}</strong></h2>
       <ul>
         <li class="list-unstyled"><strong>Number of folowers: </strong>{{user.followers}}</li>
         <li class="list-unstyled"><strong>Number of following: </strong>{{user.following}}</li>
         <li class="list-unstyled"><strong>Number of repositories: </strong>{{user.public_repos}}</li>
       </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="text-left">{{user.name}}'s repo</h2>
    <div class="card-body row" *ngFor='let repo of repos'>
      <div class="col-md-3">
        <h3><a href="{{repo.html_url}} " target="_blank">{{repo.name}}</a> </h3>
      </div>
      <br>
      <div class="col-md-7 col-md-offset-1">
        <p>{{repo.description}}</p>
      </div>
    </div>
  </div>

</div>
